header {
  background-color: rgb(248, 249, 250) !important;
}
.navLink {
  display: inline-block;
  position: relative;
  color: black;
}

.navLink:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e3dbd9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navLink:active {
  color: rgb(0, 0, 0);
}
.navLink > Button {
  border: none;
}
